/**
 * @package protecttheweb
 */
/* League Gothic font face embed. */
@font-face {
	font-family: 'LeagueGothicRegular';
	src: url('../fonts/league-gothic/League_Gothic-webfont.eot');
	src: local('foobarbazbing'), url('../fonts/league-gothic/League_Gothic-webfont.woff') format('woff'), url('../fonts/league-gothic/League_Gothic-webfont.ttf') format('truetype'), url('../fonts/league-gothic/League_Gothic-webfont.svg#webfont1Lb5Pdit') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Museo sans font embed (for Mozilla header) */
@font-face {
	font-family: 'MuseoSans500';
	src: url('../fonts/museo-sans/MuseoSans_500-webfont.eot');
	src: local('foobarbazbing'), url('../fonts/museo-sans/MuseoSans_500-webfont.woff') format('woff'), url('../fonts/museo-sans/MuseoSans_500-webfont.ttf') format('truetype'), url('../fonts/museo-sans/MuseoSans_500-webfont.svg#webfont9JLmVUVg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display:block;
}

nav ul {
	list-style: none;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }

ul {
	margin-left: 25px;
}

.form-box-base(@width: 224px) {
	background-color: #f1ebde;
	-moz-border-radius: 7px; /* FF1+ */
	-webkit-border-radius: 7px; /* Saf3+, Chrome */
	-khtml-border-radius: 7px; /* Konqueror */
	border-radius: 7px; /* Standard. IE9 */
	border: 1px solid #d8d2c4;
	border-top: 3px solid #d8d2c4;
	-webkit-background-clip: padding-box;
	color: #9f9785;
	.font-display-2;
	overflow: hidden;
	padding: 6px 7px;
	width: @width;
}
.input-base(@width: 224px) {
	.form-box-base(@width);
	font-size: 14px;
	height: 16px;
	line-height: 1;
}
input[type=text],
input[type=email],
input.text {
	.input-base;
}

select {
	.form-box-base;
	cursor: pointer;
	font-size: 14px;
	height: 31px;
	outline: 0;
	vertical-align: middle;
	width: 371px;
}
html.webkit select {
	.sprite(right -1000px);
	-webkit-appearance: none;
	padding-right: 36px;
}

/** @section Utility
 * General-purpose utility classes, best used as mixins. Variables, too.
 -------------------------------------------------- */
@width-container: 740px;

.str-container(@width: @width-container) {
	margin: 0 auto;
	position: relative;
	width: @width;
}

/**
 * Clear floats without markup
 * This is the updated clearfix hack that fixes rare bugs caused by the original.
 * Modified for handy use with LESS
 * @see http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack/
 */
.clearfix {
	display: block;
	zoom: 1;

	&:after {
		content: " ";
		display: block;
		font-size: 0;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

/**
 * Horizontal menu utility class
 */
.nav() {
	.clearfix;
	list-style: none;
	margin: 0;
	
	li {
		display: inline;
		float: left;
		
		a {
			display: block;
		}
	}
}

.hide() {
	left: -32000px;
	position: absolute;
	height: 1;
	overflow: hidden;
	width: 1px;
}

/**
 * Tip: adding the param parenthesis to a set of rules makes it an explicit mixin.
 * That means it won't show up in the compiled code unless you use it as a mixin.
 */
.font-display() {
	font-family: "LeagueGothicRegular", Impact, Charcoal, "Arial Narrow Bold", Arial, sans-serif;
	font-weight: normal;
	line-height: 1;
	text-transform: uppercase;
}
.font-display-2() {
	font-family: Georgia, Times, serif;
	font-style: italic;
	font-weight: normal;
	line-height: 1.2;
}
.font-display-3() {
	font-family: "MuseoSans500", Trebuchet, sans-serif;
	font-weight: normal;
}
.font-text() {
	font-family: Georgia, Times, serif;
	font-size: 1.6em;
	line-height: 1.375;
}

.sprite(@position, @background: url(../img/sprite-y.24bit.png) ) {
	background-image: @background;
	background-position: @position;
	background-repeat: no-repeat;
}

.button-base(@height: 53px) {
	.font-display;
	
	background: #0789bb url(../img/sprite-y.24bit.png) right -200px no-repeat;
	border-color: #0079aa #046e96 #046e96;
	border-style: solid;
	border-width: 1px 1px 4px;
	-moz-border-radius: 5px; /* FF1+ */
	-webkit-border-radius: 5px; /* Saf3+, Chrome */
	-khtml-border-radius: 5px; /* Konqueror */
	border-radius: 5px; /* Standard. IE9 */
	-moz-box-shadow: 0 3px 0 rgba(0, 0, 0, .1); /* FF3.5+ */
	-webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, .1); /* Saf3+, Chrome */
	box-shadow: 0 3px 0 rgba(0, 0, 0, .1); /* Standard. Opera 10.5, IE9 */
	
	color: #fff;
	cursor: pointer;
	display: inline-block; /* Standard. IE8+, Saf, FF3+ */
	/**
	 * @bugfix inline-block fix
	 * @see http://blog.mozilla.com/webdev/2009/02/20/cross-browser-inline-block/
	 * @valid no
	 */
	zoom: 1;
	*display: inline;
	font-size: 3.6em;
	font-weight: normal;
	height: @height - 1px;
	line-height: @height - 1px;
	margin-bottom: 3px;
	outline: 0;
	padding: 0 49px 0 19px;
	position: relative;
	
	/**
	 * @workaround background bleed
	 * @see http://tumble.sneak.co.nz/post/928998513/fixing-the-background-bleed
	 */
	-webkit-background-clip: padding-box;
	
	/* IE button width fix */
	overflow: visible;
	width: auto;
	
	/**
	 * Compound classes for icons
	 */
	&.down {
		background-position: right -100px;
		padding-right: 43px;
	}
	
	&::-moz-focus-inner {
		border: 0;
		outline: 0;
		padding: 0;
	}
	
	&:focus,
	&:active {
		border-bottom-width: 2px;
		-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .1); /* FF3.5+ */
		-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1); /* Saf3+, Chrome */
		box-shadow: 0 1px 0 rgba(0, 0, 0, .1); /* Standard. Opera 10.5, IE9 */
		margin-top: 2px;
		/* We're already defining a visual outline style. Remove the visual border from active states. */
		outline: 0;
		top: 2px;
	}
}
.button {
	.button-base(53px);
}
.button-input {
	@height: 57px;
	/**
	 * IE, FF and Safari all use the classic box model for inputs
	 */
	.button-base(@height);
	
	&:focus,
	&:active {
		height: @height - 3px;
	}
}

/* Legal text */

.legal {
	font-size: 1.2em;
}